body {
	// default
	#site {
		#site-header {
			position: relative;
			z-index: 100;
			.clearblock;
			.header-bar {
				.clearblock;
				& > .container {
					.container-boxed;
				}
			}
			.site-header-main {
				.clearblock;
				& > .container {
					.container-boxed;
				}
			}
		}
		#site-content {
			.clearblock;
			position: relative;
			z-index: 1;
			#site-main,
			#sidebar-left,
			#sidebar-right {
				width: 100%;
				.wrap {
					.row;
					.widget {
						.col;
						width: 100%;
						&:nth-child(n+2){
							margin-top: @makelab-grid-gutter-width;
						}
						.minmax(@makelab-smallest-breakpoint,{
							width: 50%;
							&:nth-child(2){
								margin-top: 0;
							}
							&:nth-child(n+3){
								margin-top: @makelab-grid-gutter-width;
							}
							&:nth-child(2n+1){
								clear: both;
							}
						});
					}
				}
			}
			#sidebar-left + #site-main,
			#site-main + #sidebar-right {
				margin-top: @makelab-grid-gutter-width;
			}
		}
		#site-footer {
			position: relative;
			z-index: 100;
			.clearblock;
			& > .container {
				.container-boxed;
			}
		}
		#global-footer {
			.clearblock;
			& > .container {
				.container-boxed;
			}
		}
	}
	&.boxed {
		#site {
			.container-boxed;
			padding-left: 0;
			padding-right: 0;
			#site-content {
				.builder-section {
					.container-boxed;
				}
			}
		}
	}

	// contextual
	&.error404,
	&.blog,
	&.archive,
	&.search,
	&.single,
	&.page-template-default {
		#site {
			#site-content {
				.container-boxed;
				& > .wrap {
					.row;
					#site-main,
					#sidebar-left,
					#sidebar-right {
						.col;
					}
				}
			}
		}
	}

	// responsive
	.min(@makelab-layout-breakpoint,{
		&.has-left-sidebar,
		&.has-right-sidebar {
			#site {
				#site-content {
					#site-main {
						float: left;
					}
					#sidebar-left {
						float: left;
					}
					#sidebar-right {
						float: left;
					}
					#sidebar-left + #site-main,
					#site-main + #sidebar-right {
						margin-top: 0;
					}
				}
			}
		}
		&.has-left-sidebar {
			#site {
				#site-content {
					#site-main {
						.width(3);
					}
					#sidebar-left {
						.width(1);
					}
				}
			}
		}
		&.has-right-sidebar {
			#site {
				#site-content {
					#site-main {
						.width(3);
					}
					#sidebar-right {
						.width(1)
					}
				}
			}
		}
		&.has-left-sidebar.has-right-sidebar {
			#site {
				#site-content {
					#site-main {
						.width(2.5);
					}
					#sidebar-left,
					#sidebar-right {
						.width(0.75);
					}
				}
			}
		}
	});
}
