//-----------------------------------------------------------------------------
//	Responsive utilities
//-----------------------------------------------------------------------------
// minmax
.minmax(@screen,@content) when (iskeyword(@screen)) {
	@min: ~"makelab-grid-@{screen}-min";
	@max: ~"makelab-grid-@{screen}-max";
	@media screen and (min-width: @@min) and (max-width: @@max) {
		@content();
	}
}
.minmax(@screenmin,@screenmax,@content) when (isnumber(@screenmin)) {
	@media screen and (min-width: @screenmin) and (max-width: @screenmax) { @content(); }
}
// min
.min(@screen,@content) when (@screen = xs) {
	@media screen and (min-width: @makelab-grid-xs-min) { @content(); }
}
.min(@screen,@content) when (@screen = sm) {
	@media screen and (min-width: @makelab-grid-sm-min) { @content(); }
}
.min(@screen,@content) when (@screen = md) {
	@media screen and (min-width: @makelab-grid-md-min) { @content(); }
}
.min(@screen,@content) when (@screen = lg) {
	@media screen and (min-width: @makelab-grid-lg-min) { @content(); }
}
.min(@screen,@content) when (isnumber(@screen)) {
	@media screen and (min-width: @screen) { @content(); }
}
// max
.max(@screen,@content) when (@screen = xs) {
	@media screen and (max-width: @makelab-grid-xs-max) { @content(); }
}
.max(@screen,@content) when (@screen = sm) {
	@media screen and (max-width: @makelab-grid-sm-max) { @content(); }
}
.max(@screen,@content) when (@screen = md) {
	@media screen and (max-width: @makelab-grid-md-max) { @content(); }
}
.max(@screen,@content) when (@screen = lg) {
	@media screen and (max-width: @makelab-grid-lg-max) { @content(); }
}
.max(@screen,@content) when (isnumber(@screen)) {
	@media screen and (max-width: @screen) { @content(); }
}

//-----------------------------------------------------------------------------
//	No conflict
//-----------------------------------------------------------------------------
.container {
	float: none;
	clear: both;
	width: auto;
	max-width: none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
.container-default {
	float: none;
	clear: both;
	padding-left: (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}
.container-boxed {
	.container-default;
	width: auto;
	max-width: @makelab-document-width;
	margin-left: auto;
	margin-right: auto;
}
.container-full {
	.container-default;
	width: auto;
	max-width: none;
	margin-left: 0;
	margin-right: 0;
}
.row {
	.row;
	width: auto;
	max-width: none;
}
.col {
	float: left;
	position: relative;
	min-height: 1px;
	margin: 0;
	padding-left:  (@grid-gutter-width / 2);
	padding-right: (@grid-gutter-width / 2);
}
.width(@span,@grid:@makelab-grid-columns){
	width: percentage((@span / @grid));
}
.column-builder(@column-builder-container-selector,@column-builder-item-selector,@index:@makelab-grid-columns) when (@index = 1) {
	&.@{column-builder-container-selector}-@{index} .@{column-builder-item-selector} {
		width: 100%;
		margin-top: 0;
		&:nth-child(n+2) {
			margin-top: @makelab-grid-gutter-width;
		}
	}
}
.column-builder(@column-builder-container-selector,@column-builder-item-selector,@index:@makelab-grid-columns) when (@index > 1) {
	&.@{column-builder-container-selector}-@{index} .@{column-builder-item-selector} {
		width: 100%;
		margin-top: 0;
		&:nth-child(n+2) {
			margin-top: @makelab-grid-gutter-width;
		}
		.min(@makelab-smallest-breakpoint,{
			width: 50%;
			margin-top: 0;
			&:nth-child(2) {
				margin-top: 0;
			}
			&:nth-child(n+3) {
				margin-top: @makelab-grid-gutter-width;
			}
			&:nth-child(2n+1) {
				clear: both;
			}
		});
		.min(@makelab-column-breakpoint,{
			width: percentage((1 / @index));
			margin-top: 0;
			&:nth-child(n+3){
				margin-top: 0;
			}
			&:nth-child(2n+1){
				clear: none;
			}
			@nth-child-add: @index + 1;
			&:nth-child(n+@{nth-child-add}) {
				margin-top: @makelab-grid-gutter-width;
			}
			&:nth-child(@{index}n+1){
				clear: both;
			}
		});
	}
	.column-builder(@column-builder-container-selector,@column-builder-item-selector,(@index - 1));
}
.columns-container(@columns-container-selector-prefix,@columns-container-column-selector,@index:@makelab-grid-columns){
	.@{columns-container-column-selector} {
		.col;
	}
	.column-builder(@columns-container-selector-prefix,@columns-container-column-selector,@index);
}

//-----------------------------------------------------------------------------
//	General
//-----------------------------------------------------------------------------
.clear {
	zoom: 1;
	&:before,
	&:after {
		display: block;
		content: "";
		clear: both;
	}
}
.clearblock {
	float: left;
	width: 100%;
	.clear;
}
.break {
	word-break: break-word;
	word-wrap: break-word;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyvisible {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	.visuallyvisible;
}
.bordered {
	border: @makelab-element-border-rule;
}
.link-with-icon {
	color: inherit;
	text-decoration: none;
	&:before,
	&:after {
		color: inherit;
		display: inline-block;
		vertical-align: baseline;
		min-width: 1.3em;
		text-align: left;
		text-decoration: none;
		font-size: inherit;
		font-family: FontAwesome;
		font-weight: normal; //reset
	}
}

//-----------------------------------------------------------------------------
//	Inline components
//-----------------------------------------------------------------------------
.featured-figure {
	display: block;
	width: 100%;
	img&,
	img {
		.bordered;
	}
	img {
		width: 100%;
		height: auto;
	}
}
.banner {
	.featured-figure;
}

.no-select {
	-webkit-user-select: none;
	   -moz-user-select: none;
	   	-ms-user-select: none;
	   		user-select: none;
}

.border-radius(@radius: 3px) {
	-webkit-border-radius: @radius;
		 -moz-border-radius: @radius;
			  border-radius: @radius;
}

//-----------------------------------------------------------------------------
//	Block components
//-----------------------------------------------------------------------------

// search-form
.search-form(@makelab-search-form-font-size:@makelab-menu-font-size) {
	label {
		display: block;
		margin: 0;
		padding: 0;
		.screen-reader-text {
		}
		.search-field {
			display: block;
			font-size: @makelab-search-form-font-size;
		}
	}
	.search-submit {
		display: none;
	}
}
.search-form-inline(@makelab-search-form-inline-height:@makelab-header-bar-height) {
	.search-form();
	height: @makelab-search-form-inline-height;
	line-height: @makelab-search-form-inline-height;
	word-spacing: 0;
	label {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}
}

// text by the menu
.text-inline(@makelab-text-inline-height:@makelab-header-bar-height){
	height: @makelab-text-inline-height;
	line-height: @makelab-text-inline-height;
	text-size: inherit;
	color: inherit;
	a {
		font-size: inherit;
		font-weight: bold;
		text-decoration: underline;
		color: inherit;
	}
}

// menu
.menu-toggle {
	.no-select;
	float: none;
	display: block;
	width: 100%;
	height: auto;
	min-height: @makelab-menu-item-height;
	line-height: @makelab-menu-item-height;	
	margin: @makelab-hr-size 0 0 0;
	padding: 0 @makelab-paragraph-spacing;
	border: 0; //reset
	.border-radius();
	background-color: @makelab-color-text;
	color: @makelab-color-document;
	text-align: left;
	cursor: pointer;
	&:before {
		content: "\F0C9";
		display: inline-block;
		vertical-align: baseline;
		min-width: 1.25em;
		text-align: left;
		font-family: FontAwesome;
	}
	& + .menu-wrap,
	& + .menu,
	& + .nav-menu {
		display: none;
	}
	.toggled & {
		&:before {
			content: '\F00D';
		}
		& + .menu-wrap,
		& + .menu,
		& + .nav-menu {
			display: block;
		}
	}
	.min(@makelab-menu-breakpoint,{
		display: none;
		& + .menu-wrap,
		& + .menu,
		& + .nav-menu {
			display: block;
		}
	});
}
.menu(@makelab-menu-item-font-size:@makelab-menu-font-size) {
	float: none;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-size: @makelab-menu-item-font-size;
	text-align: left;
	* {
		box-sizing: border-box;
	}
	li {
		position: static;
		float: none;
		display: block;
		height: auto;
		min-height: @makelab-menu-item-height;
		line-height: @makelab-menu-item-height;
		margin: 0;
		padding: 0;
		a {
			display: inline;
			margin: 0;
			padding: 0;
			font-weight: normal;
			font-size: inherit;
			color: inherit;
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
		&.current_page_item,
		&.current-menu-item,
		&.current_page_ancestor,
		&.current-menu-ancestor {
			> a {
				font-weight: bold;
			}
		}
		&.page_item_has_children,
		&.menu-item-has-children {
			> a {
				&:hover {
				}
			}
		}
	}
	.sub-menu,
	.children {
		position: static;
		margin: 0;
		padding: 0;
		text-align: left;
		li {
			a {
				&:before {
					content: "\2013";
				}
			}
		}
		.sub-menu,
		.children {
			margin-left: @makelab-element-indent-width;
		}
	}
}
.menu-inline(@makelab-menu-inline-item-height:@makelab-header-bar-height,@makelab-menu-inline-item-font-size:@makelab-menu-font-size){
	.menu(@makelab-menu-inline-item-font-size);
	height: @makelab-menu-inline-item-height;
	line-height: @makelab-menu-inline-item-height;
	word-spacing: 0;
	margin-left: (0 - @makelab-item-padding);
	margin-right: (0 - @makelab-item-padding);
	li {
		position: relative;
		float: left;
		display: block;
		height: @makelab-menu-inline-item-height;
		min-height: 0;
		line-height: @makelab-menu-inline-item-height;
		& + li {
			margin-left: @makelab-item-spacing;
		}
		a {
			/*
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
			*/
			position: relative;
			z-index: 2;
			display: block;
			height: @makelab-menu-inline-item-height;
			line-height: @makelab-menu-inline-item-height;
			padding: 0 @makelab-item-padding;
			background: @makelab-menu-inline-item-background;
			border: @makelab-menu-inline-item-border;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
		&.page_item_has_children,
		&.menu-item-has-children {
			> a:before,
			> a:after {
				vertical-align: baseline;
				min-width: 1.25em;
				font-family: FontAwesome;
				font-weight: normal; //reset
			}
			> a:before {
				content: "\f053";
				text-align: left;
			}
			> a:after {
				content: "\f054";
				text-align: right;
			}
			&:hover {
				> a {
					background: @makelab-menu-inline-item-active-background;
					border: @makelab-menu-inline-item-active-border;
					border-bottom-color: @makelab-menu-inline-item-border-color;
				}
				> .sub-menu,
				> .children {
					display: block;
				}
			}
		}
		.sub-menu,
		.children {
			position: absolute;
			z-index: 1;
			display: none;
			top: 100%;
			left: auto;
			right: 0;
			margin-top: -1px;
			background: @makelab-menu-inline-item-active-background;
			border: @makelab-menu-inline-item-active-border;;
			.page_item_has_children,
			.menu-item-has-children {
				> a {
					&:before {
						display: inline-block;
					}
				}
				&:hover {
					> a {
						background: @makelab-menu-inline-item-background;
						border: @makelab-menu-inline-item-border;
					}
				}
			}
			.sub-menu,
			.children {
				top: 0;
				left: auto;
				right: 100%;
				margin-top: 0;
				margin-left: 0;
			}
			li {
				margin: 0;
				white-space: nowrap;
			}
		}
	}
	> li {
		&.page_item_has_children,
		&.menu-item-has-children {
			> a {
				&:after {
					display: inline-block;
					content: '\F078';
				}
			}
		}
	}
	.branding-right &,
	.header-layout-2&,
	.header-layout-3& {
		.sub-menu,
		.children {
			top: 100%;
			left: 0;
			right: auto;
			.page_item_has_children,
			.menu-item-has-children {
				> a {
					&:before {
						display: none;
					}
					&:after {
						display: inline-block;
					}
				}
			}
			.sub-menu,
			.children {
				top: 0;
				left: 100%;
				right: auto;
			}
		}
	}
}
.menu-inline-responsive(@makelab-menu-inline-responsive-item-height:@makelab-header-bar-height,@makelab-menu-inline-responsive-item-font-size:@makelab-menu-font-size){
	.menu(@makelab-menu-inline-responsive-item-font-size);
	.min(@makelab-menu-breakpoint,{
		.menu-inline(@makelab-menu-inline-responsive-item-height);
	});
}

.social-links {
	.no-select;
	.menu();
	li {
		a {
			padding: 0 !important;
			i {
				span {
					.screen-reader-text;
				}
			}
			&:hover .fa,
			&:focus .fa {
				color: #808080;
				&.fa-facebook-official {
					color: @makelab-color-facebook;
				}
				&.fa-twitter {
					color: @makelab-color-twitter;
				}
				&.fa-google-plus-square {
					color: @makelab-color-googleplus;
				}
				&.fa-linkedin {
					color: @makelab-color-linkedin;
				}
				&.fa-instagram {
					color: @makelab-color-instagram;
				}
				&.fa-flickr {
					color: @makelab-color-flickr;
				}
				&.fa-youtube {
					color: @makelab-color-youtube;
				}
				&.fa-vimeo-square {
					color: @makelab-color-vimeo;
				}
				&.fa-pinterest {
					color: @makelab-color-pinterest;
				}
				&.fa-envelope {
					color: @makelab-color-email;
				}
				&.fa-rss {
					color: @makelab-color-rss;
				}
			}
		}
	}
}
.social-links-inline(@makelab-social-links-inline-item-height:@makelab-header-bar-height){
	.menu-inline(@makelab-social-links-inline-item-height);
}

//-----------------------------------------------------------------------------
//	Component bundle
//-----------------------------------------------------------------------------

.menu-box(@context:header){
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	min-height: 0;
	color: @makelab-color-document;
	background-color: @makelab-color-text;
	.clear;
	.min(@makelab-menu-breakpoint,{
		min-height: @makelab-header-bar-height;
	});

	// elements
	a {
		color: inherit;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	textarea,
	input {
		background-color: @makelab-color-document;
		font-size: @makelab-menu-font-size;
	}

	// components
	.search-form,
	.@{context}-social-links,
	.@{context}-text,
	.@{context}-bar-menu {
		height: auto;
		min-height: @makelab-header-bar-height;
	}
	.search-form {
		.search-form-inline();
		float: left;
	}
	.@{context}-social-links {
		.social-links-inline();
		float: left;
	}
	.search-form + .@{context}-social-links {
		margin-left: @makelab-item-spacing;
	}
	.@{context}-text {
		.clear;
		.text-inline();
	}
	.@{context}-bar-menu {
		.clear;
		.menu {
			.menu-inline-responsive();
		}
	}

	// responsive
	.min(@makelab-menu-breakpoint,{
		.search-form,
		.@{context}-social-links {
			float: right;
			margin-left: @makelab-item-spacing;
			margin-right: 0;
		}
		.@{context}-bar-menu {
			float: left;
		}
		.@{context}-text {
			text-align: left;
		}
		.@{context}-bar-flipped & {
			.search-form,
			.header-social-links {
				float: left;
				margin-left: 0;
				margin-right: (@makelab-grid-gutter-width / 2);
			}
			.@{context}-bar-menu {
				float: right;
			}
			.@{context}-text {
				text-align: right;
			}
		}
	});
}

//-----------------------------------------------------------------------------
//	Reserved classes
//-----------------------------------------------------------------------------
// custom logo
.custom-logo {
	display: block;
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	a {
		display: block;
		width: 100%;
		height: 0; //reset
		font: 0/0 a; //reset
		text-decoration: none; //reset
		text-shadow: none; //reset
		color: transparent; //reset
	}
	.no-site-title.no-site-tagline & {
		margin-bottom: 0; //reset
	}
}

// site title
.site-title {
	color: @makelab-color-text;
	margin: 0; //reset
	font-weight: bold;
	font-family: @makelab-font-family-heading;
	font-size: @makelab-font-size-big;
	a {
		color: @makelab-color-text;
		font-weight: bold;
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	.no-site-tagline & {
	}
}

// site description
.site-description {
	display: block;
	text-transform: uppercase;
	font-size: @makelab-font-size-small;
	letter-spacing: 1px;
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
