//-----------------------------------------------------------------------------
//	Basis
//-----------------------------------------------------------------------------

// typography
body {
	background-color: @makelab-color-document;
	text-rendering: optimizeLegibility;
	font-size: @makelab-font-size-medium;
}

body,
button,
input,
select,
textarea {
	color: @makelab-color-text;
	font-family: @makelab-font-family-sans-serif;
	line-height: 1.6;
}

pre,
code,
input,
textarea {
	font: inherit;
}

// blocks
p,ul,ol,dl,blockquote {
	&:extend(.break);
}

// links
a {
	color: @makelab-color-primary;
	text-decoration: none; //reset
}

//-----------------------------------------------------------------------------
//	Header
//-----------------------------------------------------------------------------

.site-header {
	// header-bar
	.header-bar {
		.menu-box();
	}

	// site-header-main
	.header-bar + .site-header-main {
		margin-top: @makelab-grid-gutter-width;
	}
	.site-header-main {
		.container {
			.site-branding {
				.custom-logo {
					margin-bottom: @makelab-hr-size;
					a {
					}
				}
				.site-title {
				}
				.site-description {
				}
			}
			.site-navigation {
			}
		}
	}

	// layout 2
	&.header-layout-2 {
		.site-branding,
		.site-navigation {
			float: none; //reset
			max-width: 100%;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}
		.custom-logo {
			display: inline-block;
		}
	}

	// layout 3
	&.header-layout-3 {
		.site-navigation {
			float: left; //reset
			max-width: 100%;
			width: 100%;
			text-align: left;
			.menu {
				border-top: 1px solid @makelab-color-secondary;
				border-bottom: 1px solid @makelab-color-secondary;
			}
			.nav-menu {
				margin-bottom: 0; //reset
			}
		}
		.search-form {
			.for(medium-screens,{
				float: right;
				.branding-right & {
					float: left;
				}
			});
			input {
				.for(medium-screens,{
					width: auto;
				});
				width: 100%;
			}
		}
		.search-submit {
			display: none;
		}
	}

	// responsive
	.for(medium-screens,{
		.site-branding {
			float: left;
			max-width: 50%;
			.branding-right & {
				float: right;
			}
		}
	});
}

//-----------------------------------------------------------------------------
//	Main
//-----------------------------------------------------------------------------
.site-content {
	float: left;
	width: 100%;
	background-color: @makelab-color-document;
	padding: @makelab-grid-base-width 0; // overridable in the theme customizer
	&:extend(.clear);
}

//-----------------------------------------------------------------------------
//	Footer
//-----------------------------------------------------------------------------
.site-footer {
	.menu-box(footer);
	color: @makelab-color-detail;
	background-color: @makelab-color-secondary;
	.footer-widget-container {
		.row;
		padding-top: @makelab-grid-gutter-width;
		// widget
		.widget-area {
			.for(medium-screens,{
				margin-bottom: (@makelab-grid-base-width * 2);
			});
			width: 100%;
			float: left;
			margin-right: percentage( @makelab-grid-gutter-width / @makelab-grid-md );
			margin-bottom: @makelab-grid-base-width;
			&:last-of-type {
				margin-right: 0; //reset
			}
		}
		// responsive
		.for(medium-screens,{
			.columns-container(columns,widget-area);
		});
	}
	.footer-text {
		float: left;
	}
	.site-info {
		clear: both;
		float: left;
		font-size: @makelab-font-size-small;
		.text-inline();
		.theme-by {
			font-weight: normal;
			font-style: italic;
			text-transform: lowercase;
			padding: 0 4px;
			letter-spacing: 1px;
		}
	}
	.infinite-scroll.neverending & {
		display: none;
	}
	.infinity-end.neverending & {
		display: block;
	}

	// layout 2
	&.footer-layout-2 {
		.site-info,
		.footer-text,
		.footer-social-links {
			float: none; //reset
			clear: both;
			text-align: center;
		}
		.footer-social-links {
			margin-top: (@makelab-grid-base-width / 2);
		}
	}
}

//-----------------------------------------------------------------------------
//	Global footer
//-----------------------------------------------------------------------------
#global-footer {
	.container {
		#global-sitemap {
			.row;
			dl {
				.col;
				width: 25%;
				dt {
				}
				dd {
					ul {
						list-style: none;
						li {
							a {
								color: @makelab-color-detail;
							}
						}
					}
				}
			}
		}
		#global-contact {
			.row;
			.contact {
				.col;
			}
		}
		#global-license {
			.row;
			.license {
				.col;
			}
		}
	}
}
