/*---------------------------------------------------------
 8. Widgets (_widgets.scss)
-------------------------------------------------------- */
.widget-area {
	max-width: 100%;
}
.widget-title {
	font-weight: bold;
	font-size: @makelab-font-size-small;
	.builder-text-content & {
		line-height: 1.4;
		font-size: @makelab-font-size-large;
	}
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}
.widget {
	max-width: 100%;
	font-size: @makelab-font-size-small;
	& + & {
		margin-top: @makelab-grid-gutter-width;
	}
	.builder-text-content & {
		font-size: @makelab-font-size-medium;
	}
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
	select {
		max-width: 100%;
	}
	ul,
	ol {
		padding-left: 0; //reset
		li {
			list-style: none; //reset
		}
	}
	.children,
	.sub-menu {
		margin-bottom: 0; //reset
		li:before {
			content: "\2013  ";
		}
	}
}
.widget_tag_cloud a,
.widget_product_tag_cloud a {
	display:  inline-block;
	background-color: @makelab-color-secondary;
	text-decoration: none; //reset
	margin-bottom: 5px;
	padding: 8px;
	.border-radius;
}
.widget_calendar table {
	margin-top: 0; //reset
}
.widget_search {
	.search-form {
		float: none;
		margin: 0;
	}
	.search-submit {
		&:extend(.visuallyhidden);
		&:extend(.focusable);
	}
}
.widget_rss {
	.widget-title a {
		text-decoration: none; //reset
		color: @makelab-color-text;
	}
	img {
		display: none;
	}
	.rss-date,
	cite {
		display: block;
	}
	.rss-date {
		font-style: italic;
		margin-bottom: (@makelab-grid-base-width / 2);
	}
	cite {
		font-style: normal; //reset
		margin: (@makelab-grid-base-width / 2) 0 (@makelab-grid-base-width) 0;
		&:before {
			content: "\2013  ";
		}
	}
}
