//-----------------------------------------------------------------------------
//	General
//-----------------------------------------------------------------------------
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
img {
	height: auto;
	max-width: 100%;
	.wp-smiley {
		margin-bottom: 0; //reset
		margin-top: 0; //teset
		padding: 0; //reset
		border: none;
	}
}
embed,
iframe,
object {
	max-width: 100%;
}

//-----------------------------------------------------------------------------
//	In-content Layout
//-----------------------------------------------------------------------------
figure {
	.align-block;
}
img {
	.align-inline-block;
}
// iframe
.entry-content iframe[src*="google.com/maps"] {
	height: 600px;
	width: 100%;
	height: 300px;
}
div.wp-video-shortcode {
	margin-bottom: @makelab-grid-gutter-width;
}
.entry-thumbnail-caption,
.cycle-caption {
	font-style: italic;
	line-height: 1.35;
	font-size: @makelab-font-size-small;
}

//-----------------------------------------------------------------------------
//	Caption images
//-----------------------------------------------------------------------------
.wp-caption {
	.featured-figure;
	font-style: italic;
	line-height: 1.35;
	.wp-caption-dd,
	.wp-caption-text {
		.entry-thumbnail-caption;
		margin: (@makelab-grid-base-width / 2) 0 0 0;
		padding: 0;
	}
}

//-----------------------------------------------------------------------------
//	Gallery
//-----------------------------------------------------------------------------
* + .gallery {
	margin-top: @makelab-paragraph-spacing;
}
.gallery {
	.columns-container(gallery-columns,gallery-item,12);
	.clear;
	margin-top: @makelab-grid-gutter-width;
	margin-left: (0 - (@makelab-grid-gutter-width / 2));
	margin-right: (0 - (@makelab-grid-gutter-width / 2));
	& + * {
		margin-top: @makelab-grid-gutter-width;
	}
	.gallery-item {
		position: relative;
		overflow: hidden;
		text-align: center;
	}
	.gallery-icon {
		.featured-figure;
		line-height: 0; //reset
	}
	.gallery-caption {
		display: none;
	}
}


