/******************************************************************************
	 Overlay
******************************************************************************/
/** General **/
.ml-overlay {
	width: 100%;
	max-width: 400px;
	height: 100%;
	max-height: 600px;
}
.ml-overlay .ttfmake-overlay-wrapper {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	box-shadow: none !important;
}
.ml-overlay .ttfmake-overlay-body {
	overflow: hidden !important;
}
.ml-overlay .ttfmake-overlay-body form {
	margin: 0;
	padding: 0;
}
.ml-overlay .ml-overlay-input {
	margin: 0 0 20px 0 !important;
	padding: 0 !important;
	border-bottom: 0 !important;
}
.ml-overlay .ml-overlay-input + .ml-overlay-input {
	padding-top: 20px !important;
	border-top: 1px solid #EFEFEF;
}
.ml-overlay .ml-overlay-input .ml-overlay-input-lable {
}
.ml-overlay .ml-overlay-input .ml-overlay-input-control {
	position: relative;
}
.ml-overlay .ml-overlay-input-block {
}
.ml-overlay .ml-overlay-input-block .ml-overlay-input-label {
	float: none;
	display: block;
	margin-bottom: 20px;
}
.ml-overlay .ml-overlay-input-block .ml-overlay-input-control {
	float: none;
	clear: both;
}
.ml-overlay .ml-overlay-input-block .ml-overlay-input-control-editor {
	width: 360px;
	height: 250px;
	outline: 1px solid #DDDDDD;
}
.ml-overlay .ml-overlay-input-block .ml-overlay-input-control .ml-overlay-input-control-editor-placeholder {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

