<script type="text/html" id="ml-overlay-template-classifier">
<div id="{{ml_overlay_id}}" class="ml-overlay">
<div class="ttfmake-overlay-wrapper">

	<div class="ttfmake-overlay-header">
		<div class="ttfmake-overlay-window-head">
			<div class="ttfmake-overlay-title">%overlay_title%</div>
			<span class="ttfmake-overlay-close ttfmake-overlay-close-action" aria-hidden="true">Done</span>
		</div>
	</div>
	<div class="ttfmake-overlay-body">
	<form>

		<div id="ml-overlay-input-class" class="ml-overlay-input ttfmake-configuration-overlay-input-wrap">
			<label for="ml-overlay-input-control-classifier-classes" class="ml-overlay-input-label">%label_input_classes%</label>
			<div class="ml-overlay-input-control">
				<input type="text" id="ml-overlay-input-control-classifier-classes" class="ml-overlay-input-control-input" name="classes" value="{{ml_classifier_classes}}">
			</div>
		</div><!--/.ml-overlay-input-->

		<div id="ml-overlay-input-attributes" class="ml-overlay-input ml-overlay-input-block ttfmake-configuration-overlay-input-wrap">
			<label for="ml-overlay-input-control-classifier-attributes" class="ml-overlay-input-label">%label_input_attributes%</label>
			<div class="ml-overlay-input-control ml-overlay-input-control-editor-container">
				<div id="ml-overlay-input-control-classifier-attributes" class="ml-overlay-input-control-editor">{{ml_classifier_attributes}}</div>
			</div>
		</div><!--/.ml-overlay-input-->

		<div id="ml-overlay-input-data" class="ml-overlay-input ml-overlay-input-block ttfmake-configuration-overlay-input-wrap">
			<label for="ml-overlay-input-control-classifier-data" class="ml-overlay-input-label">%label_input_data%</label>
			<div class="ml-overlay-input-control ml-overlay-input-control-editor-container">
				<div id="ml-overlay-input-control-classifier-data" class="ml-overlay-input-control-editor">{{ml_classifier_data}}</div>
			</div>
		</div><!--/.ml-overlay-input-->

		<div id="ml-overlay-input-help" class="ml-overlay-input ml-overlay-input-help ttfmake-configuration-overlay-input-wrap">
			<ul>
				<li><a href="http://mynameismatthieu.com/WOW/">WOW.js</a></li>
				<li><a href="http://daneden.github.io/animate.css/">animate.css</a></li>
				<li><a href="https://github.com/Prinzhorn/skrollr">skrollr</a></li>
			</ul>
		</div><!--/.ml-overlay-input-->

	</form>
	</div>
</div>
</div>
</script>
